# Environment variables and secrets
.env
.env.*

# Python
__pycache__/
*.py[cod]
.venv/
venv/

# IDE / editor files
.vscode/
.idea/

# Operating system files
.DS_Store
Thumbs.db

# Terraform
.terraform/
*.tfstate
*.tfstate.*
#.terraform.lock.hcl

# Local logs
*.log
logs/

